/* Stylesheet for painting stuff in pathfinder-like colours*/

tr{
	background-color: white
}

tr:nth-child(even) {
	background-color: Khaki
}

tr:nth-child(odd) {
	background-color: LemonChiffon
}

th{
	background: FireBrick;
	color:	white
}

td {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left
}

nav > ul, nav ul ul {
	list-style-type: none
}

.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area:footer; height: 20px }

/*.menuItems {*/
nav {
	position: sticky;
	top: 0;
}

.gridContainer{
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	grid-template-areas:
		'menu main'
		'menu footer';
}

